.hero-image{
    background-image: url(./png1.jpg);
    height: 200px;
    width: auto;
    background-position: center;
    object-fit: contain;
    text-align: center;
}

h1{
    font-size: 100px;
    color: salmon;
    
}

table, th, td{
    border: 1px solid;
}

.navbar a{
    background-color:azure;
    margin: 5px 10px 5px 0px;
    padding: 5px 10px;
    text-decoration: dotted;
    
}

.navbar a:hover{
    background-color:rgb(75, 139, 139);
    color: azure;
}